.detailsBox {
  width: 45rem;
  height: 45rem;
  border: 0.2em solid rgb(0, 0, 0);
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}

.detailsHeader {
  display: flex;
  justify-content: space-between;
}
.text {
  font-size: 2rem !important;
  color: rgb(36, 150, 236);
}



