.itemsBox {
  width: calc(40% + 4rem);
  display: flex;
  align-items: start;
  height: calc(80% + 4rem);
  border: calc(0.1rem + 0.05vh + 0.05vw) solid rgb(0, 0, 0);
  border-radius: calc(2rem + 5%);
  box-sizing: border-box;
  padding: 2rem;
  flex-direction: column;
}
.iconRow {
  display: flex;
  flex-direction: row;
}
.row {
  height: 1rem !important;
  cursor: pointer;
}

.tableBox {
  padding-left: 1rem;
}
.tableRow{
  display: "table-row",
}