.topBarBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15%;
    box-sizing: border-box;
    padding: 1em;
    
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}
.text
{
    font-size: 3rem !important;

}