.mainBoxPage{
    /* height: 100%; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* justify-content: center; */
    /* justify-content: space-evenly; */
}
.autoCompletBox
{
    height: 5em;
    width: 30em;
}